.resumeContainer {
    background-image: url('resumebg.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
  }

.bigbox {
    height: 75vh;
    margin-top: 10vh;
    display: flex;
    margin-left: 120px;
    & .boxa {
        width: 100vh;
        height: 50vh;
        overflow: hidden;

        & .whitebubbleImage{
            width: 870px;
            position: absolute;
            height: 500px;
        }

        & .bio{
            margin-top: 130px;
            margin-left: 20px;
            position: absolute;
            font-family: 'MadimiOne'; 
            font-size: 25px;
            text-align: center;
                
            & .text {
               color: #C7B65D;
            }
            & .lasttext {
                color: #FDD848;
             }
        }
    }

    & .boxb {
        width: 60vh;
        height: 50vh;
        margin-top: 200px;
        margin-left: 900px;
        overflow: hidden;
        position: absolute;


        & .resumeImg {
            height: 420px;
            width: auto;

        }

        & .buttonImg {
            width: 80px;
            margin-left: 30px;
            height: auto;
            position: absolute;
            margin-top: 340px;
        }
    }
}
