.contact {
    background-image: url('bigBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
  }

  .contact_contain {
    display: flex;
    justify-content: center;
    margin-top: 250px;
  }
  
  .contact_contain img {
    margin: 0 200px; /* Adjust the value to increase or decrease the spacing between the images */
  }
  