@font-face {
  font-family: 'Florent';
  src: url('Florent-PosterTwo.ttf') format('truetype');
}
.navbar {
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
  position: relative;
  height: 80px; 
}

.navbarList {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0; 
  align-items: center; 
}

  
 
  .navbarLink {
    text-decoration: none;
    padding: 0.5rem;
    transition: all 0.3s ease;
    color: #C7B65D;
  }

  li {
    justify-content: center;
  }
  a {
    font-family: 'Florent';
  }
  
  .navbarLink:hover,
  .active {
    color: #C7B65D;
    border-bottom: 2px solid #700B03;
  }
  